.homenav{
	margin-top: 30px;
	width: 120px;
	z-index: 1000;
	
	li >a
	{
			color: #ffffff;
			
	}
	
	li > a:hover
	{
			color: #ffffff;
			background-color: rgba(255,0,0,0.4);
	}
	
	 li.active > a,
	 li.active > a:hover,
	 li.active > a:focus {
			color: #ffffff;
			background-color: red;
	}
	
}


